.clipboard-modal-overlay {
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  background-color: rgba(0, 0, 0, .7);
}
:global(.ReactModalPortal) {
  display: none;
  @media (min-width: $desk) {
    display: block;
  }
}
.clipboard-modal {
  font-family: 'Open Sans', sans-serif;
  border-radius: 9px;
  max-width: 80rem;
  opacity: 1;
  position: relative;
  transition: .3s;
  margin: auto;
  outline: none;
  flex-grow: 1;
  padding: 7.3rem 2rem;
  background-color: $sweetMore;
  cursor: pointer;
  &-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  ul li {
    justify-content: center;
    display: flex;
  }
  ul li:not(:empty) {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  ul {
    margin-top: 3.5rem;
    margin-bottom: 0;
  }

  & .clipboard-modal-title {
    font-size: 3.6rem;
    margin: 0;
  }
  & .icon-check-mark {
    width: 9.6rem;
    height: 9.6rem;
    margin-bottom: 1.4rem;
  }

  .close-clipboard-modal {
    align-self: flex-end;
    display: flex;
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
}