
///////////******* PurchaseWidget *******\\\\\\\\\\\

$grayShadow: #b3b3b380;

.purchase-widget {

  & .col {
    padding: 0 10rem 0 0;
  }

  & .last-regulations {
    margin-bottom: 2rem;
  }

  & .text-step {
    font-size: 1.6rem;
    color: black;
    font-weight: bold;
    margin-bottom: 2.2rem;
  }


  & .your-cash {
    font-size: 1.7rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }

  & .regulations-text {
    margin: 0;
  }
  & .outer-copy-icon {
    min-width: 2rem;
  }

  & .outer-field {
    display: flex;
     }
  & .field-label {
    color: $cyan;
    position: absolute;
    top: .7rem;
    left: 1.8rem;
    margin-bottom: 1.5rem;

  }
  & .buy-headline {
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 3.6rem;
    color: black;
  }


  & .spacer {
    padding: 0 2rem;
    position: relative;
    margin-bottom: 2rem;
    @media (min-width: $lg) {
      padding:0;
    }
    @media (min-width: $desk) {
      padding-right: 3rem;
      overflow: visible;
      max-height: auto;
    }



    &.disabled {
      &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparentize(white, .4);
      }
    }
}



}



.btn-invest {
  overflow: hidden;
  border-radius: $radius $i;
  width: 100% $i;
  // display: none $i;
  button {
    width: 100% $i;
    cursor: pointer;
    height: 5rem !important;
    background-color: $blue;
    border: none;
    position: relative;
    font-weight: bold $i;
    font-family: inherit $i;
    font-size: 1.7rem $i;
    color: $blackLight;
    padding: 1rem;
    flex: 1;
    div > div {
      flex: 1;
      height: 5rem $i;
      align-items: center;
      display: flex;
      justify-content: center;
    }

  }
}
