
$largeFont: 1.6rem;
$smallFont: 1.4rem;
.price-bar {
  display: flex;
  background-color: $blueDark;
  align-items: center;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
  justify-content: space-between;
  text-transform: uppercase;
  display: none;
  font-size: $smallFont;
  min-width: 24.9rem;


  @media (min-width: $desk) {
    display: flex;
  }
  @media (min-width: $largeDesk) {
    font-size: $largeFont;
  }
  .elem {
    @include ellipse(4rem);
    background-image: $primaryGradient;
    margin-left: 2rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
}