$paddingUserBar: 2rem;
$largeFont: 1.6rem;
$smallFont: 1.4rem;

.user-bar {
  color: $blackLight;
  padding: $paddingUserBar;
  display: flex;
  align-items: center;
  font-weight: bold;
  min-width: 28rem;
  background-color: $purple;
  font-size: $smallFont;
  flex-grow: 1;
  height: 8rem;
  position: relative;


  & .trigger-close {
    width: 3rem;
    cursor: pointer;
    height: 4rem;
    display: flex;
    margin-left: 4rem;
    @media (min-width: $desk) {
      display: none;
    }
  }



  & .icon-user-profile {
    width: 1.7rem;
    height: 1.7rem;
    position: relative;
    display: flex;
    align-items: center;

  }

  @media (min-width: $largeDesk) {
    font-size: $largeFont;
  }


  & .user-balance {
    color: white;
    text-transform: uppercase;
  }
}