.user-popup-outer {
    align-items: center;
    display: none;
    @media (min-width: $desk) {
      display: flex;
    }

    &.open {
      .trigger-user-popup:after {
        transform: rotate(-180deg);
      }
      .user-popup  {
         transform: translateY(0%) translateX(0) scale(1);
         opacity: 1;
      }
    }
    & .user-popup {
    background-color: white;
    transition: .2s;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 100%;
    transform: translateY(-90%) translateX(34%) scale(0);
    right: 0;
    z-index: 2;
    box-shadow: 5px 0px 21px transparentize(black, .8);

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
        li {
          display: flex;
          font-weight: bold;
          color: black;
          padding: 1rem 3.9rem 1rem 1rem;
          align-items: center;
          justify-content: flex-end;
          height: 8rem;
        }
      }
    }
  & .logout-text {
    margin-right: 1rem;
  }
  & .logout-trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  & .logout-icon {
    width: 2.7rem;

  }
   & .trigger-user-popup {
    cursor: pointer;
    height: 4rem;
    display: flex;
    align-items: center;
      &:after {
        transition: .3s;
        @include triangle(bottom, .5rem, .5rem, white);
        content: '';
        margin-left: 1.4rem;
      }
    }
  }